<!DOCTYPE html>
<html>
<head><title>Edit Product</title></head>
<body>
  <h1>Edit Product</h1>
  <form action="/admin/products/edit/<%= product._id %>" method="POST">
    <input name="title" value="<%= product.title %>" required /><br/>
    <input name="price" type="number" value="<%= product.price %>" required /><br/>
    <input name="image" value="<%= product.image %>" required /><br/>
    <input name="code" value="<%= product.code %>" /><br/>
    <input name="material" value="<%= product.material %>" /><br/>
    <textarea name="description"><%= product.description %></textarea><br/>
    <button type="submit">Update</button>
  </form>
  <a href="/admin/products">Back to List</a>
</body>
</html>
